h1 {
		color:CadetBlue;font-size:48px;font-family: Georgia,serif
}

body {
		font-size:24px;font-family:Tahoma,sans-serif;color:black;background-color:BurlyWood;text-align:center
}
	#head2 {
		color:DarkOliveGreen;font-family:Georgia,serif;text-align:left;
}
	#start {
			font-family:Tahoma,sans-serif;font-size:18px;text-align:left;
	}
	#nest {
		font-family:Tahoma,sans-serif;font-size:18px;
	}
	#cen {
		font-family:Tahoma,sans-serif;font-size:18px;
	}
	#bord {
		border:6px BurlyWood;paddind 25px;background:lightblue;background-clip:padding-box;font-size:24px;
	}
	